<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Music player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'player/reset.css' %}">
    <link rel="stylesheet" href="{% static 'player/style.css' %}">
    <link rel="stylesheet" href="{% static 'player/slider.css' %}">
    <link rel="stylesheet" href="{% static 'player/playlist.css' %}">
    <link rel="shortcut icon" href="#">   <!-- zabezpiecza przed błędem favicon 404 - doczytać i uzupełnić w projektach -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Import list of objects from django database as a string -->
    <script type="text/javascript">
        const songObjsString = "{{ song_objs_list | safe }}";
    </script>
</head>

<body onload="loadAudio(songId)">
    <div class="container">
        <div class="app" oncontextmenu="return false">
            <section class="app__inf">
                <img class="inf__cover" id="cover"></img>
                <h1 class="inf__title" id="title"></h1>
                <h2 class="inf__artist" id="artist"></h2>
            </section>
            <section class="app__controls">
                <div class="app__btns">
                    <button onclick="previousSong()"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
                    <button onclick="startPause()" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
                    <button onclick="nextSong()"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
                </div>
                <input type="range" min="0" max="100" value="0" id="slider" oninput="changeDuration(this)">
            </section>
            <section class="app__playlist">
                <ul>
                    {% for song, song_id, song_num in numbered_songs %}
                    <li class="playlist__song" id="{{ song_id }}" onclick="playFromPlaylist('{{ song_id }}')">
                        <div class="playlist__song-num">{{ song_num }}</div>
                        <div>
                            <h3 class="playlist__title">{{ song.title }}</h3>
                            <h4 class="playlist__author">{{ song.author}}</h4>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'player/player.js' %}"></script>
</body>

</html>