/* controls style */
button {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 10px 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    color: white;
}

button:hover {
    border-color: var(--main);
    color: var(--main);
}

button:focus {
    outline: none;
}


.app__controls {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.app__btns {
    justify-content: center;
    align-items: center;
    display: flex;
}