/* playlist style */
.app__playlist {
    background-color: black;
    height: 250px;
    width: 280px;
    overflow-y: auto;
    border-radius: 2px;
}

.app__playlist::-webkit-scrollbar {
    width: 10px;
}


.app__playlist::-webkit-scrollbar-track {
    background: #adadad;
}




.app__playlist::-webkit-scrollbar-thumb {
    background: rgb(120, 120, 120);
}




.app__playlist::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80);
}


.playlist__song {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0;
}

.playlist__song:first-of-type {
    margin-top: 2px;
}

.playlist__song:last-of-type {
    margin-bottom: 2px;
}

.playlist__song:hover {
    background-color: rgb(60, 60, 60);
    cursor: pointer;
}

.playlist__song-num {
    display: block;
    width: 30px;
    text-align: center;
    font-size: 10px;
}

.playlist__title {
    font-size: 12px;
    font-weight: bold;
}

.playlist__author {
    margin-top: 2px;
    font-size: 10px;
}


.now-playing {
    color: var(--green);
}