/* playlist style */
.app__playlist {
    overflow-y: auto;    
    border-radius: 2px;
    width: 280px;
    height: 150px;
    background-color: var(--playlist-background);
    scrollbar-width: thin;
}

.playlist__song {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 2px 0;
}

.playlist__song:first-of-type {
    margin-top: 2px;
}

.playlist__song:last-of-type {
    margin-bottom: 2px;
}

.playlist__song:hover {
    background-color: var(--song-hover);
    cursor: pointer;
}

.playlist__song-num {
    display: block;
    text-align: center;
    width: 30px;
    font-size: 10px;
}

.playlist__title {
    font-size: 12px;
    font-weight: bold;
}

.playlist__author {
    margin-top: 2px;
    font-size: 10px;
}

.now-playing {
    color: var(--main);
}


/* scrollbar style */
.app__playlist::-webkit-scrollbar {
    width: 8px;
}

.app__playlist::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
}

.app__playlist::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover);
}