/* slider style */
input[type=range] {
    -webkit-appearance: none;
    overflow: hidden;
    border-radius: 5px;
    width: 250px;
    height: 10px;
    background-color: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;

    box-shadow: -140px 0 0 130px var(--main);
    border: 1px solid var(--background);
    border-radius: 50%;
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    background: white;
    cursor: pointer;

    margin-top: -1px;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--main);
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    
    box-shadow: -140px 0 0 130px var(--main);
    border: 1px solid var(--background);
    border-radius: 50%;
    box-sizing: content-box;
    width: 10px;
    height: 10px;
    background: white;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: white;
}

input[type=range]::-moz-range-track {
    height: 10px;
    background: white;
}
