@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
/* font-family: 'Montserrat', sans-serif; */


/* used colors */
:root {
    --main: rgb(200, 200, 0);
    --background: rgb(15, 15, 15);
    --playlist-background: rgb(25, 25, 25);
    --song-hover: rgb(40, 40, 40);
    --scrollbar: rgb(120, 120, 120);
    --scrollbar-hover: rgb(80, 80, 80);
}


body {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    letter-spacing: .1em;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: var(--background);
    border-radius: 5px;
}

.app__inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inf__cover {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
}

.inf__title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.inf__author {
    font-size: 12px;
    font-variant: small-caps;
}

.app__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 10px 15px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
}

button:hover {
    color: var(--main);
    border-color: var(--main);
}