@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
/* font-family: 'Montserrat', sans-serif; */


/* used colors */
:root {
    --main: rgb(200, 200, 0);
    --background: rgb(15, 15, 15);
    --playlist-background: rgb(25, 25, 25);
    --song-hover: rgb(40, 40, 40);
    --scrollbar: rgb(120, 120, 120);
    --scrollbar-hover: rgb(80, 80, 80);
}

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1em;
    color: white;
    user-select: none;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.app {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 5px;
    width: 300px;
    height: 500px;
    background-color: var(--background);
}

.app__inf {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inf__cover {
    margin-bottom: 15px;
    width: 180px;
    height: 180px;
}

.inf__title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.inf__author {
    font-size: 12px;
    font-variant: small-caps;
}