@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    letter-spacing: .1em;
    color: white;
}

:root {
    --green: rgb(0, 200, 0);
    --background: rgb(50, 50, 50);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 600px;
    background-color: var(--background);
}

.app__inf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inf__cover {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
}

.inf__title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.inf__artist {
    font-size: 12px;
    font-variant: small-caps;
}

.app__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 10px;
    font-size: 30px;
    color: white;
    /* zostawić zakomentowane, usunąć na produkcji */
    /* border: 1px solid white; */
}

button:hover {
    color: var(--green);
}